.button {
  margin-top: 20px;
  background-color: white;
  color: black;
  border: 2px solid #222;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 16px 32px;
  box-shadow: none;
  outline: none;
}

.button:hover {
  background-color: #222;
  color: white;
  cursor: pointer;
}
