form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  font-size: 16px;
}

input[type="number"] {
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  margin-left: 10px;
  width: 200px;
  padding: 5px;
  height: 35px;
  font-size: 16px;
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.field {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.checkbox-label {
  margin-left: 5px;
}
